*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	outline: none;
	font-size: 16px;
	font-family: helvetica;
}

/*Global Style */
img{
	width:200px;
	height: 200px;
}

button{
	padding: 10px;
	border:none;
	border-radius: 15px;
	background-color: red;
	color: #fff;
	width: 70px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

input{
	width:90%;
	padding: 10px;
	margin:10px;
	border:1px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}

.wrap{
	margin: auto;
	border: 1px solid pink;
	width: 80%;
}

/*General Style*/
header{
	border:1px solid green;
	height: 100px;
	text-align: center;
	color: #FEFEFE;
}

.main-menu, .navbar{
	display: flex;
}

.blue-box{
	background-color: #1E1C2B;
	color: #FEFEFE;
}
.red-box{
	background-color: #E11A25;
	color: #FEFEFE;
}


/*First section in the body*/
.main-menu{
	color: #1E1C2B;
	justify-content: center;

}

.amain-menu div{
	width:340px;
	height: 200px;
}

.navbar{
	width: 25%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}



/* Second Section in the body*/
.about{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 25px 0;
}


.info-image{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}


.info-image p{
	width:500px;
}

.info-image div{
	text-align: left;
}
/*This is the third section in HTML and CSS*/
.send-shipping{
	display: flex;
	flex-flow: wrap row;
}
.send-shipping div{
	width:50%;
	height: 300px;
}

.send-shipping .input-data{
	height: 200px;
}


.two{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}



/*This is the fourth with the quote*/
.send-shipping .quote{
	width: 55%;
	height: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.send-shipping .not-quote{
	width: 45%;
	height: 400px;
}



/*This is the fifth section in the body*/

.send-shipping  .input-data{
	display: flex;
	justify-content: space-between;
	width: 100%;
	border:none;
}

.send-shipping  .input-data div{
	border:none;
}

/*This is the footer section*/
footer{
	display: flex;
	height: 100px;
	bottom: 0;
	justify-content: center;
	align-items: center
}



















